* {
	box-sizing: border-box;
	background-color: black;
	--text-color: #fff;
	--border-off: #046184; /* Color goes between #046184 (Off) and #5BCEFA (On), */
	--border-on: #5BCEFA; /* starting at Off as the color should change when icon is clicked */
}

@font-face {
	font-family: RetroFont;
	src: url('Retro Gaming.ttf');
}

body {
	font-family: RetroFont;
	color: var(--text-color);
}

.main_grid {
	display: block;
}

.central_logo{
	margin-top: 200px;
}

img {
	display: block;
	height: 10%;
	width: 10%;
	border-radius: 50%;
	border: 5px solid;
	border-color: var(--border-off);
	margin: auto;
}