* {
	box-sizing: border-box;
	background-color: black;
	--text-color: #fff;
}

@font-face {
	font-family: RetroFont;
	src: url('Retro Gaming.ttf');
}

body {
	font-family: RetroFont;
	color: var(--text-color);
}

.main_grid {
	padding: 50px;
}

img {
	display: block;
	height: 10%;
	width: 10%;
	border-radius: 50%;
	border: 5px solid skyblue;
	margin: auto;
}